/* #960px or higher
================================================== */

.wrapper                                { position: relative; width: 880px; margin: 0 auto; padding-top: 50px; }
nav                                     { position: relative; float: left; display: inline; width: 100px; margin-top: 40px; }
nav a                                   { width: 35px; height: 35px; display: inline-block; }
nav li                                  { padding-left: 5px; margin-bottom: 5px; }
nav li a span                           { width: 100%; height: 100%; display: inline-block; }
nav li a span span                      { visibility: hidden; }
nav li.current-menu-item                           { padding-left: 0px; }
nav li.current-menu-item a                         { width: 120px; height: 40px; }
nav li.current-menu-item a span span               { visibility: visible; }
nav li.profile.current-menu-item a > span          { padding-left: 39px; }
nav li.resume.current-menu-item a > span           { padding-left: 38px; }
nav li.education.current-menu-item a > span        { padding-left: 38px; }
nav li.blog.current-menu-item a > span             { padding-left: 38px; }
nav li.contact.current-menu-item a > span          { padding-left: 38px; }
nav li.clients.current-menu-item a > span          { padding-left: 38px; }
nav li.ourteam.current-menu-item a > span          { padding-left: 38px; }
nav li.services.current-menu-item a > span         { padding-left: 38px; }
nav li.testimonials.current-menu-item a > span     { padding-left: 38px; }
nav li.links.current-menu-item a > span            { padding-left: 38px; }
.content                                { float: left; display: inline; width: 820px; min-height: 350px; padding-bottom: 30px; margin-left: -60px; }
/*.innerContainer                         { padding-bottom: 30px; }*/
.info                                   { float: left; width: 480px; margin-top: 30px; margin-left: 90px; }
.head img                               { float: left; margin-right: 15px; width: 110px; height: 110px; }
.head .name                             { float: left; padding-top: 30px; font-size: 40px; }
.topAddress                             { float: right; width: 190px; margin-top: 30px; margin-right: 40px; }
.innerContainer                         { margin-left: 90px; width: 690px; }
.desc                                   { min-height: 80px; margin: 20px 0; }
.subnavContainer div div                { float: left; margin-right: 69px; }
.subnavContainer .invert                { display: inline-block; width: 48px; height: 48px; margin-bottom: 5px; }
.sidebar                                { float: right; width: 190px; min-height: 330px; margin-top: 20px; margin-right: 40px; }
.sidebar address                        { margin-top: 30px; }
.subscribe                              { margin-top: 5px; }
.subscribe img                          { margin-left: 5px; }
.social                                 { margin-top: 5px; }
.social img                             { margin-left: 5px; }
.twitter-updates                        { margin-top: 15px; }
.twitter-updates ul                     { margin-top: 10px; }
.twitter-updates li                     { padding-left: 16px; }
.twitter-updates span                   { display: block; }
.recent-work-widget ul 					{ width:120px; float:right; }
.recent-work-widget ul li 				{ float:left; margin:0 0 10px 10px; }
.recent-work-widget ul li:first-child	{ margin-top:0 !important; }
.recent-work-widget ul li .post-thumb	{ margin:0 !important; }
footer                                  { clear: both; margin-left: 40px; padding-top: 10px; background: url('./images/shadow-footer-960.png') no-repeat 0px 0px; }

/* Profile */
.profile .sidebar                       { float: right; width: 190px; min-height: 330px; margin-top: 20px; margin-right: 40px; }

/* Resume */
.personalDev li                         { padding-top: 5px; margin-bottom: 15px; }
.personalDev .time                      { float: right; }
.skills li                              { padding-top: 5px; }
.skills .skill                          { display: inline-block; min-width: 160px; }
.ie7 .skills .skill                     { float: left; }
.ie7 .skills .rating                    { float: left; margin-top: 4px; }
.skills .rating                         { display: inline-block; margin-left: 10px; }
.skills .rating span                    { display: inline-block; width: 10px; height: 10px; margin-right: 3px }
.skills .description                    { display: inline-block; margin-left: 10px; }

/* education  */
.education-items .filter				{ margin:40px 0 10px 0;}
.education-items .filter li             { float: left; margin: 0 10px 10px 0; }
.education-items .filter li a           { padding-left: 7px; padding-right: 7px; height: 30px; display: block; }
.education-items .items li              { margin-right: 20px; margin-bottom: 20px; width: 210px; float: left; }
.education-items .items li.item-hidden	{ display: none; }
.education-items .items li .title       { display: block; }
.education-items .items li .desc        { min-height: 0px; margin: 0px; }
.education-items .items li img          { width: 210px; }
.education-items .items .image-wrapper  { position: relative; }
.education-items .items .image .image-wrapper .cover { display: none; }
.education-items .items .video .image-wrapper .cover { display: none; }
.education-items .items .image:hover .image-wrapper .cover { width: 210px; height: 160px; display: block; position: absolute; left: 0px; }
.education-items .items .video:hover .image-wrapper .cover { width: 210px; height: 160px; display: block; position: absolute; left: 0px; }

/* Contact */
.contact iframe                         { width: 690px; height: 285px; }
.contact .desc							{ margin:20px 0; }
.contact form                           { float: left; width: 420px; }
.contact form .error					{ display: none; }
.contact textarea                       { width: 100%; height: 120px; }
.contact input[type="submit"]           { float: right; margin-top: -20px; margin-right: -10px; }
.contact .sidebar                       { float: right; margin-right: 0px; margin-top: -40px; }
.contact .social h6                     { margin-bottom: 10px; }

/* Blog */
.main                                   { float: left; width: 480px; }
.main.full-width						{ width: 100%; }
.blog article                           { margin-bottom: 50px; }
.blog article img                       { width: 100%; }
.blog .meta                             { margin-top: 7px; margin-bottom: 10px; }
.blog .postVideo, .blog .postSlideshow	{ margin-bottom: 10px; }
.blog .sidebar                          { float: right; margin-right: 0px; margin-top: 20px; }
.blog .sidebar div                      { margin-bottom: 30px; }
.blog .subscribe h6                     { margin-bottom: 10px; }
.blog .pagination .left                 { float: left; }
.blog .pagination .right                { float: right; }
.blog .main                             { margin-top: 20px; }

/* Comments */
.blog .comments ol.commentsList         { margin-top: 20px; margin-left: 0px; }
.blog .commentMetaTop                   { margin-bottom: 10px; }
.blog .commentMetaTop img               { float: left; margin-right: 10px; }
.blog .comment                          { padding-bottom: 10px; }
.blog .children .comment            { padding-left: 10px; padding-right: 10px; padding-top: 10px; padding-bottom: 10px; }
.blog .comments form                    { margin-top: 10px; }
.blog .comments form textarea           { width: 470px; height: 200px; }
.blog .comments form input.submit       { float: right; }

/* Footer */
footer                                  { width: 820px; padding-bottom: 30px; }
.ie7 footer                             { margin-top: -50px; }

.alignleft {
    float: left;
    margin: 0 20px 20px 0;
}

.aligncenter {
    display: block;
    margin: 0 auto 20px;
}

.alignright {
    float: right;
    margin: 0 0 20px 20px;
}

/* #Media Queries
================================================== */

	/* Smaller than standard 960 (devices and browsers) */
	@media only screen and (max-width: 959px) {

        .wrapper                                { width: 760px; }
        nav                                     { margin-left: 10px; }
        .content                                { width: 700px; }
        .innerContainer                         { width: 570px; }
        .info                                   { width: 360px; }
        footer                                  { width: 700px; margin-left: 50px; background: url('./images/shadow-footer-750.png') no-repeat 0px 0px; }

        /* Profile */
        .subnavContainer div div                { margin-right: 39px; }
        .profile .sidebar address               { margin-top: 30px; }

        /* education  */

        /* Contact */
        .contact iframe                         { width: 570px; height: 225px; }
        .contact form                           { width: 320px; }

        /* Blog */
        .main                                   { float: left; width: 360px; }
        .blog .comments form textarea           { width: 350px; height: 200px; }

    }

	/* All Mobile Sizes (devices and browser) */
	@media only screen and (max-width: 767px) {

        .wrapper                                { width: 480px; }
        .content                                { width: 420px; }
        .innerContainer                         { width: 300px; }
        .info                                   { width: 300px; line-height: 90%; }
        .head img                               { margin-right: 10px; margin-bottom: 15px; width: 100px; height: 100px; }
        .head .name                             { font-size: 30px; line-height: 20%; }
        .head .title                            { font-size: 14px; }
        footer                                  { width: 420px; background: url('./images/shadow-footer-400.png') no-repeat 0px 0px; }

        /* Profile */
        .subnavContainer div div                { margin-right: 26px; }

        /* Resume */
        .personalDev .time                      { float: none; display: block; margin-bottom: -15px; }
        .skills li                              { overflow: hidden; }
        .skills .description                    { margin-left: 0px; float: left; }
        .skills .rating                         { float: right; }

        /* Contact */
        .contact iframe                         { width: 300px; height: 155px; }
        .contact form                           { width: 290px; }
        .topAddress {
            float: left;
            margin-left: 90px;
            text-align: left;
            padding-top: 0px;
            padding-bottom: 0px;
            margin-top: 5px;
            background: none; }

        /* Blog */
        .main                                   { float: left; width: 300px; }
        .post .main                             { width: 300px; }
        .blog .comments form textarea           { width: 290px; height: 200px; }

        /* Hide some elements */
        .hidden                                 { display: none; }

    }

	/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
	@media only screen and (max-width: 479px) {

        .wrapper                                { width: 310px; }
        .content                                { width: 250px; }
        .innerContainer                         { width: 210px; margin-left: 20px; }
        .info                                   { width: 210px; margin-left: 20px; }
        .head                                   { margin-left: 50px; }
        .head img                               { width: 110px; height: 110px; margin-bottom: 0px; }
        .head .title                            { line-height: 100%; }
        footer                                  { width: 250px; background: url('./images/shadow-footer-300.png') no-repeat 0px 0px; }

        /* Profile */
        .subnavContainer div div                { margin-right: 15px; margin-left: 30px; margin-bottom: 15px; }
        .subnavContainer .invert                { margin-bottom: 5px; }

        /* Resume */
        .skills .rating                         { float: left; margin-left: 0px; }

        /* Contact */
        .contact iframe                         { width: 210px; }
        .contact form                           { width: 200px; }
        .topAddress {
            float: left;
            margin-left: 20px;
            text-align: left;
            padding-top: 0px;
            padding-bottom: 0px;
            margin-top: 5px;
            background: none; }

        /* Blog */
        .main                                   { width: 210px; }
        .post .main                             { width: 210px; }
        .blog .comments form                    { width: 200px; }
        .blog .comments form input.submit       { float: right; margin-right: -10px; }

        /* Hide some elements */
        .hidden                                 { display: none; }

    }

/* #Clearing
================================================== */

/* Use clearfix class on parent to clear nested columns,
or wrap each row of columns in a <div class="row"> */
.clearfix:before,
.clearfix:after,
.row:before,
.row:after {
    content: '\0020';
    display: block;
    overflow: hidden;
    visibility: hidden;
    width: 0;
    height: 0; }
.row:after,
.clearfix:after {
    clear: both; }
.row,
.clearfix {
    zoom: 1; }

/* You can also use a <br class="clear" /> to clear columns */
.clear {
    clear: both;
    display: block;
    overflow: hidden;
    visibility: hidden;
    width: 0;
    height: 0;
}